<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.weather.dailytest" >

    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <!-- 百度地图所需要的-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.dailytest.dailytest.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.dailytest.dailytest.ViewPagerAty"/>
        <activity android:name="com.example.dailytest.viewflipper.ViewFlipperAty"/>
        <activity android:name="com.example.dailytest.scrollview.ScrollViewAty"/>
        <activity android:name="com.example.dailytest.gallery.GalleryAty"/>
        <activity android:name="com.example.dailytest.seekbar.SeekBarAty"/>
        <activity android:name="com.example.dailytest.toast.ToastAty"/>
        <activity android:name="com.example.dailytest.dialog.DialogAty"/>
        <activity android:name="com.example.dailytest.notification.NotificationAty"/>
        <activity android:name="com.example.dailytest.contextmenu.ContextMenuAty"/>
        <activity android:name="com.example.dailytest.sharedpreferences.SharedPreferencesAty"/>
        <activity android:name="com.example.dailytest.sqlitedatabase.SQLiteDataBaseAty"/>
        <activity android:name="com.example.dailytest.contentprovider.ContentResolverAty" />
        <activity android:name="com.example.dailytest.contentprovider.ContentResolverAty2" />
        <activity android:name="com.example.dailytest.broadcast.BroadCastAty" />
        <activity android:name="com.example.dailytest.service.ServiceAty" />
        <activity android:name="com.example.dailytest.systemservice.SystemServiceAty" />
        <activity android:name="com.example.dailytest.file.FileAty" />
        <activity android:name="com.example.dailytest.baseadapter.BaseAdapterAty" />
        <activity android:name="com.example.dailytest.asynctask.MyAsyncTaskAty" />
        <activity android:name="com.example.dailytest.asynctask.ImageTestAty" />
        <activity android:name="com.example.dailytest.asynctask.ProgressBarTestAty" />
        <activity android:name="com.example.dailytest.asynctaskload.AsyncTaskLoadAty" />
        <activity android:name="com.example.dailytest.http.HttpAty" />
        <activity android:name="com.example.dailytest.http.HttpImageAty" />
        <activity android:name="com.example.dailytest.http.HttpWebViewAty" />
        <activity android:name="com.example.dailytest.httpconn.HttpConnAty" />
        <activity android:name="com.example.dailytest.httpconn.HttpConnAty1" />
        <activity android:name="com.example.dailytest.httpconn.JsonAty" />
        <activity android:name="com.example.dailytest.httpconn.XmlAty" />
        <activity android:name="com.example.dailytest.httpconn.DownloadAty" />
        <activity android:name="com.example.dailytest.httpconn.HttpUploadAty" />
        <activity android:name="com.example.dailytest.handler.HandlerAty" />
        <activity android:name="com.example.dailytest.baidumap.BaiduMapAty" />
        <activity android:name="com.example.dailytest.dailytest.BtnListViewAty" />
        <activity android:name="com.example.dailytest.sensor.SensorAty" />
        <activity android:name="com.example.dailytest.sensor.SensorCPAty" />
        <activity android:name="com.example.dailytest.animation.AnimationAty" />
        <activity android:name="com.example.dailytest.animation.AniListViewAty" />
        <activity android:name="com.example.dailytest.title.TitleAty1" />
        <activity android:name="com.example.dailytest.msg.MsgAty" />
        <activity android:name="com.example.dailytest.fragmentpractice.NewsAty" />
        <activity android:name="com.example.dailytest.fragmentpractice.NewsContentAty" />
        <activity android:name="com.example.dailytest.httpconn.WeatherAty">


        </activity>

        <activity android:name="com.example.dailytest.notification.NotificationAty2" />
        <activity android:name="com.example.dailytest.sms.SMS_ReceivedAty" />
        <activity android:name="com.example.dailytest.takephoto.TakePhotoAty" />
        <activity android:name="com.example.dailytest.player.MediaPlayerAty" />
        <activity android:name="com.example.dailytest.player.VideoPlayerAty" />

        <activity android:name="com.example.dailytest.service.MyIntentServiceAty" />

        <activity android:name="com.example.dailytest.service.LongRunningServiceAty" />


        <activity android:name="com.example.dailytest.intent.ObjectTransportAty1" />
        <activity android:name="com.example.dailytest.intent.ObjectTransportAty2" />

        <service android:name="com.example.dailytest.service.LongRunningService" />
        <receiver android:name="com.example.dailytest.service.AlarmReceiver" />

        <service android:name="com.example.dailytest.service.MyIntentService" />


        <service
            android:name="com.example.dailytest.service.MyStartService" />
        <service android:name="com.example.dailytest.service.MyBindService" />
        <receiver android:name="com.example.dailytest.broadcast.BCR1">
            <intent-filter>
                <action android:name="com.example.gypsophila.broadcast.BroadCastAty"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.example.dailytest.broadcast.BCR2">
            <intent-filter>
                <action android:name="com.example.gypsophila.broadcast.BroadCastAty"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>
