<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gypsophila.dailytest" >

    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.gypsophila.dailytest.ViewPagerAty"/>
        <activity android:name="com.example.gypsophila.viewflipper.ViewFlipperAty"/>
        <activity android:name="com.example.gypsophila.scrollview.ScrollViewAty"/>
        <activity android:name="com.example.gypsophila.gallery.GalleryAty"/>
        <activity android:name="com.example.gypsophila.seekbar.SeekBarAty"/>
        <activity android:name="com.example.gypsophila.toast.ToastAty"/>
        <activity android:name="com.example.gypsophila.dialog.DialogAty"/>
        <activity android:name="com.example.gypsophila.notification.NotificationAty"/>
        <activity android:name="com.example.gypsophila.contextmenu.ContextMenuAty"/>
        <activity android:name="com.example.gypsophila.sharedpreferences.SharedPreferencesAty"/>
        <activity android:name="com.example.gypsophila.sqlitedatabase.SQLiteDataBaseAty"/>
        <activity android:name="com.example.gypsophila.contentprovider.ContentResolverAty" />
        <activity android:name="com.example.gypsophila.contentprovider.ContentResolverAty2" />
        <activity android:name="com.example.gypsophila.broadcast.BroadCastAty" />
        <activity android:name="com.example.gypsophila.service.ServiceAty" />
        <activity android:name="com.example.gypsophila.systemservice.SystemServiceAty" />
        <activity android:name="com.example.gypsophila.file.FileAty" />
        <activity android:name="com.example.gypsophila.baseadapter.BaseAdapterAty" />
        <activity android:name="com.example.gypsophila.asynctask.MyAsyncTaskAty" />
        <activity android:name="com.example.gypsophila.asynctask.ImageTestAty" />
        <activity android:name="com.example.gypsophila.asynctask.ProgressBarTestAty" />
        <activity android:name="com.example.gypsophila.asynctaskload.AsyncTaskLoadAty" />
        <activity android:name="com.example.gypsophila.http.HttpAty" />
        <activity android:name="com.example.gypsophila.http.HttpImageAty" />
        <activity android:name="com.example.gypsophila.http.HttpWebViewAty" />
        <activity android:name="com.example.gypsophila.httpconn.HttpConnAty" />
        <activity android:name="com.example.gypsophila.httpconn.HttpConnAty1" />
        <activity android:name="com.example.gypsophila.httpconn.JsonAty" />
        <activity android:name="com.example.gypsophila.httpconn.XmlAty" />
        <activity android:name="com.example.gypsophila.httpconn.DownloadAty" />
        <activity android:name="com.example.gypsophila.httpconn.HttpUploadAty" />




        <service
            android:name="com.example.gypsophila.service.MyStartService" />
        <service android:name="com.example.gypsophila.service.MyBindService" />
        <receiver android:name="com.example.gypsophila.broadcast.BCR1">
            <intent-filter>
                <action android:name="com.example.gypsophila.broadcast.BroadCastAty"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.example.gypsophila.broadcast.BCR2">
            <intent-filter>
                <action android:name="com.example.gypsophila.broadcast.BroadCastAty"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>
